.title {
  font-size: 80px;
  position: absolute;
  left: 25%;
  top: 30%;
}

.sub_title {
  font-size: 50px;
  position: absolute;
  left: 25.75%;
  top: 38%;
}

.sub_sub_title {
  font-size: 40px;
  position: absolute;
  left: 25.8%;
  top: 43.5%;
}

.content {
  font-size: 25px;
  position: absolute;
  left: 36%;
  top: 28.5%;
}