.Intro {
  text-align: center;
  margin-top: 100px;
  .top {
    font-size: 30px;
    color: #fc6e51;
    font-weight: bolder;
  }

  .Intro-Content {
    margin-top: 20px;
    .mid {
      font-size: 20px;
      font-weight: bolder;
    }
    .end {
      font-size: 15px;
    }
  }
  .IntroLogo {
    border-radius: 8px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
}
.title {
  font-size: 80px;
  position: absolute;
  left: 25%;
  top: 30%;
}

.sub_title {
  font-size: 50px;
  position: absolute;
  left: 25.75%;
  top: 38%;
}

.sub_sub_title {
  font-size: 40px;
  position: absolute;
  left: 25.8%;
  top: 43.5%;
}

.content {
  font-size: 25px;
  position: absolute;
  left: 36%;
  top: 28.5%;
}
